# Environment
.env

# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# OS
Thumbs.db
.DS_Store